USE [VeterinariaDB]
GO
ALTER TABLE [dbo].[Mascotas] DROP CONSTRAINT [FK_Mascotas_Duenos_DuenoId]
GO
ALTER TABLE [dbo].[Citas] DROP CONSTRAINT [FK_Citas_Veterinarios_VeterinarioId]
GO
ALTER TABLE [dbo].[Citas] DROP CONSTRAINT [FK_Citas_Servicios_ServicioId]
GO
ALTER TABLE [dbo].[Citas] DROP CONSTRAINT [FK_Citas_Mascotas_MascotaId]
GO
ALTER TABLE [dbo].[Citas] DROP CONSTRAINT [DF__Citas__Veterinar__7B5B524B]
GO
ALTER TABLE [dbo].[Citas] DROP CONSTRAINT [DF__Citas__ServicioI__7A672E12]
GO
ALTER TABLE [dbo].[Citas] DROP CONSTRAINT [DF__Citas__Estado__797309D9]
GO
/****** Object:  Index [IX_Veterinarios_Telefono]    Script Date: 09/11/2025 1:11:47 ******/
DROP INDEX [IX_Veterinarios_Telefono] ON [dbo].[Veterinarios]
GO
/****** Object:  Index [IX_Mascotas_DuenoId]    Script Date: 09/11/2025 1:11:47 ******/
DROP INDEX [IX_Mascotas_DuenoId] ON [dbo].[Mascotas]
GO
/****** Object:  Index [IX_Duenos_Telefono]    Script Date: 09/11/2025 1:11:47 ******/
DROP INDEX [IX_Duenos_Telefono] ON [dbo].[Duenos]
GO
/****** Object:  Index [IX_Citas_VeterinarioId]    Script Date: 09/11/2025 1:11:47 ******/
DROP INDEX [IX_Citas_VeterinarioId] ON [dbo].[Citas]
GO
/****** Object:  Index [IX_Citas_ServicioId]    Script Date: 09/11/2025 1:11:47 ******/
DROP INDEX [IX_Citas_ServicioId] ON [dbo].[Citas]
GO
/****** Object:  Index [IX_Citas_MascotaId]    Script Date: 09/11/2025 1:11:47 ******/
DROP INDEX [IX_Citas_MascotaId] ON [dbo].[Citas]
GO
/****** Object:  Table [dbo].[Veterinarios]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Veterinarios]') AND type in (N'U'))
DROP TABLE [dbo].[Veterinarios]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Servicios]') AND type in (N'U'))
DROP TABLE [dbo].[Servicios]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mascotas]') AND type in (N'U'))
DROP TABLE [dbo].[Mascotas]
GO
/****** Object:  Table [dbo].[Duenos_backup]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Duenos_backup]') AND type in (N'U'))
DROP TABLE [dbo].[Duenos_backup]
GO
/****** Object:  Table [dbo].[Duenos]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Duenos]') AND type in (N'U'))
DROP TABLE [dbo].[Duenos]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Citas]') AND type in (N'U'))
DROP TABLE [dbo].[Citas]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/11/2025 1:11:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[MascotaId] [int] NOT NULL,
	[ServicioId] [int] NOT NULL,
	[VeterinarioId] [int] NOT NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duenos]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duenos](
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Duenos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duenos_backup]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duenos_backup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Especie] [nvarchar](50) NOT NULL,
	[Raza] [nvarchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[DuenoId] [int] NOT NULL,
 CONSTRAINT [PK_Mascotas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinarios]    Script Date: 09/11/2025 1:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Especialidad] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Veterinarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251008212342_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251013203358_InitialSetup', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([Id], [Fecha], [Motivo], [Estado], [MascotaId], [ServicioId], [VeterinarioId]) VALUES (0, CAST(N'2025-12-15T10:00:00.0000000' AS DateTime2), N'Chequeo general de rutina', N'Pendiente', 1, 1, 1)
INSERT [dbo].[Citas] ([Id], [Fecha], [Motivo], [Estado], [MascotaId], [ServicioId], [VeterinarioId]) VALUES (1, CAST(N'2025-12-15T10:00:00.0000000' AS DateTime2), N'Vacuna contra la rabia', N'Pendiente', 2, 2, 2)
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[Duenos] ON 

INSERT [dbo].[Duenos] ([Nombre], [Telefono], [Direccion], [Id]) VALUES (N'Carlos Rojas', N'74500122', N'Av. America 456', 1)
INSERT [dbo].[Duenos] ([Nombre], [Telefono], [Direccion], [Id]) VALUES (N'Natalia Montaño', N'68231489', N'Av. Victor Ustariz', 2)
INSERT [dbo].[Duenos] ([Nombre], [Telefono], [Direccion], [Id]) VALUES (N'Natalia Soria', N'75123645', N'Av. Circunvalacion', 3)
SET IDENTITY_INSERT [dbo].[Duenos] OFF
GO
SET IDENTITY_INSERT [dbo].[Mascotas] ON 

INSERT [dbo].[Mascotas] ([Id], [Nombre], [Especie], [Raza], [Edad], [DuenoId]) VALUES (1, N'Nina', N'Perro', N'Beagle', 3, 1)
INSERT [dbo].[Mascotas] ([Id], [Nombre], [Especie], [Raza], [Edad], [DuenoId]) VALUES (2, N'Charlie', N'Gato', N'angora', 4, 2)
INSERT [dbo].[Mascotas] ([Id], [Nombre], [Especie], [Raza], [Edad], [DuenoId]) VALUES (3, N'Nena', N'Perro', N'Chiwawa', 1, 3)
SET IDENTITY_INSERT [dbo].[Mascotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Precio]) VALUES (1, N'Consulta General', N'Evaluacion medica general para mascotas.', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Precio]) VALUES (2, N'Vacuna Antirrabica', N'Vacunacion de mascota contra la rabia.', CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Veterinarios] ON 

INSERT [dbo].[Veterinarios] ([Id], [Nombre], [Especialidad], [Telefono]) VALUES (1, N'Dr. Juan Perez', N'Medicina General', N'76543210')
INSERT [dbo].[Veterinarios] ([Id], [Nombre], [Especialidad], [Telefono]) VALUES (2, N'Dra. Ana Maria', N'Medicina General', N'62598812')
SET IDENTITY_INSERT [dbo].[Veterinarios] OFF
GO
/****** Object:  Index [IX_Citas_MascotaId]    Script Date: 09/11/2025 1:11:47 ******/
CREATE NONCLUSTERED INDEX [IX_Citas_MascotaId] ON [dbo].[Citas]
(
	[MascotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Citas_ServicioId]    Script Date: 09/11/2025 1:11:47 ******/
CREATE NONCLUSTERED INDEX [IX_Citas_ServicioId] ON [dbo].[Citas]
(
	[ServicioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Citas_VeterinarioId]    Script Date: 09/11/2025 1:11:47 ******/
CREATE NONCLUSTERED INDEX [IX_Citas_VeterinarioId] ON [dbo].[Citas]
(
	[VeterinarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Duenos_Telefono]    Script Date: 09/11/2025 1:11:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Duenos_Telefono] ON [dbo].[Duenos]
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mascotas_DuenoId]    Script Date: 09/11/2025 1:11:47 ******/
CREATE NONCLUSTERED INDEX [IX_Mascotas_DuenoId] ON [dbo].[Mascotas]
(
	[DuenoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Veterinarios_Telefono]    Script Date: 09/11/2025 1:11:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Veterinarios_Telefono] ON [dbo].[Veterinarios]
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (N'Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((0)) FOR [ServicioId]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((0)) FOR [VeterinarioId]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Mascotas_MascotaId] FOREIGN KEY([MascotaId])
REFERENCES [dbo].[Mascotas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Mascotas_MascotaId]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Servicios_ServicioId] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Servicios_ServicioId]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Veterinarios_VeterinarioId] FOREIGN KEY([VeterinarioId])
REFERENCES [dbo].[Veterinarios] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Veterinarios_VeterinarioId]
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_Duenos_DuenoId] FOREIGN KEY([DuenoId])
REFERENCES [dbo].[Duenos] ([Id])
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_Duenos_DuenoId]
GO
